/* Center everything in the body */
body {
  background-color: black;
  color: white;
  font-family: 'Proxima Nova', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  padding: 0 1rem; /* Add padding for better responsiveness */
}

/* Style the container */
.vf-container {
  text-align: center;
  width: 100%;
  max-width: 90%; /* Use percentage for better responsiveness */
  margin: 20px auto;
  padding: 20px;
  flex-grow: 1;
}

/* Style the heading */
h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Style the response box */
.response-box {
  background-color: white;
  color: black;
  padding: 1.25rem; /* Use rem for scalable spacing */
  border-radius: 10px;
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  box-shadow: inset 0 0 10px rgb(0, 0, 0), 0 4px 6px rgb(0, 0, 0);
  max-width: 90%; /* Use percentage for better responsiveness */
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
  line-height: 1.5; /* Improved readability */
  max-height: 80vh; /* Adjust max-height for better mobile view */
  overflow-y: auto;
}

.response-box:hover {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  cursor: pointer;
}

/* Remove bullet points from the list */
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  list-style-type: none;
}

/* Custom link styling */
.custom-link {
  color: inherit; /* Inherit the current text color */
  text-decoration: none; /* Remove the default underline */
  font-weight: bold; /* Keep the bold style */
  position: relative; /* Required for the pseudo-element */
  display: inline-block; /* Ensure the link behaves like an inline-block element */
  padding-bottom: 2px; /* Add some space for the underline */
}

/* Create the animated underline effect */
.custom-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black; /* The color of the underline */
  transition: width 0.3s ease-in-out; /* Animate the width */
}

.custom-link:hover::after {
  width: 100%; /* Expand the underline from left to right */
}

/* Media Queries for different screen sizes */
@media (max-width: 768px) {
  h2 {
    font-size: 1.5em;
  }
  
  .response-box {
    padding: 1rem; /* Reduce padding on smaller screens */
    max-width: 95%; /* Increase width on smaller screens */
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.2em;
  }

  .response-box {
    padding: 0.75rem; /* Further reduce padding on very small screens */
    max-width: 100%; /* Use full width on very small screens */
  }

  .response-box h3 {
    font-size: 1em; /* Reduce heading size on small screens */
  }

  .name-item {
    font-size: 0.9em; /* Reduce name item size on small screens */
  }
}
